/*===== Commons Style =====*/
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #fff;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input,
button {
    outline: none;
    border: none;
}

:root {
    --header-background-color: #fff;
    --header-text-color: #2c2c2c;
    --footer-background-color: #646464;
    --footer-text-color: #fff;
    --header-box-shadow: 0 0.2rem .8rem rgba(0, 0, 0, 0.15);
    --footer-box-shadow: 0 -0.2rem .8rem rgba(0, 0, 0, 0.15);

    --container-background-color: #fff;
    --container-box-shadow: 0 0.2rem .8rem rgba(0, 0, 0, 0.15);
    --container-text-color: #2c2c2c;

    --primary-color: #f64a4a;
    --link-color: #2c2c2c;
    --success-color: #42ba96;

    --input-background-color: #f5f5f5;
    --input-background-color-hover: #eaeaea;

    --tooltips-background-color: #fff;
    --tooltips-box-shadow: 0 0.2rem .8rem rgba(0, 0, 0, 0.15);
}

.primary {
    color: var(--primary-color) !important;
}

.success {
    color: var(--success-color) !important;
}

/*===== Scrollbar Style =====*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*background-color: #171717;*/
    border-radius: 1rem;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
    /*background-color: #292524;*/
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 .025rem rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 .025rem rgba(0, 0, 0, .25);
    /*background-color: #404040;*/
    border: 5rem solid #404040;
}

/*===== Main Style =====*/
main {
    padding: .75rem 1.25rem;
}

/*===== Divers Main Style =====*/
main .bar-link {
    margin-bottom: .4rem;
}

/*===== Container Style =====*/
.container {
    border-radius: 2rem;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem 3rem;
    margin: 0 auto;
    background-color: var(--container-background-color);
    box-shadow: var(--container-box-shadow);
    color: var(--container-text-color);
}

.container > article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.container article img {
    height: 5rem;
    width: auto;
}

.container article h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: center;
}

.container article p {
    font-size: .8rem;
}

@media screen and (min-width: 768px) {

    .container article img {
        height: 6.5rem;
    }

    .container article h1 {
        font-size: 1.5rem;
    }

}


/*===== Sessions (Container) Style =====*/

.sessions > article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.session {
    font-size: 0.8rem;
    text-align: start;
    margin: auto auto;
}

.session .link {
    color: var(--link-color);
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-align: right;
    transition: 0.3s ease;
    opacity: 0.7;
    cursor: pointer;
}

.session .link:hover {
    opacity: 1;
}

.session .link i {
    margin: auto .1rem;
}

.session p.token {
    font-size: 0.6rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: calc(100vw * 0.50);
}

.session .date {
    font-size: 0.6rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.session .date .expired {
    font-weight: 800;
    font-size: 0.7rem;
    color: var(--primary-color);
}

.session .our-session i {
    margin: auto .1rem;
    font-size: .5rem;
}

/*===== Tasks / Users Style =====*/
.users-table,
.tasks-table {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.table-header {
    border-bottom: rgba(0, 0, 0, .20) 1px solid;
    padding-bottom: 1rem;
}

.table-header form {
    display: flex;
    flex-direction: row;
}

.table-header form input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.table-header form button {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.table-header form section:nth-child(1) {
    flex: 1;
}

.table-items {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.table-items > section {
    border-radius: 2rem;
    width: 100%;
    padding: 1rem 1.75rem;
    margin: 0 auto;
    background-color: var(--container-background-color);
    box-shadow: var(--container-box-shadow);
    color: var(--container-text-color);
}

.table-item-header {
    display: flex;
    flex-direction: column;
    margin-bottom: .4rem;
}

.table-item-header a {
    color: var(--link-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-align: right;
    transition: 0.3s ease;
    opacity: 1;
    cursor: pointer;
}

.table-item-header a:hover {
    opacity: .7;
}

.users-informations .delete,
.tasks-informations .delete,
.table-item-header .delete {
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-align: right;
    transition: 0.3s ease;
    opacity: .7;
    cursor: pointer;
}

.users-informations .delete:hover,
.tasks-informations .delete:hover,
.table-item-header .delete:hover {
    opacity: 1;
}

.table-item-header h1 {
    font-weight: bold;
    font-size: .9rem;
}

.table-item-header h1 span {
    color: var(--primary-color);
}

.table-item-header h2 {
    font-size: .75rem;
    font-weight: normal;
}

.table-item-footer {
    display: flex;
    flex-direction: row;
    margin-top: .4rem;
}

.table-item-footer p {
    width: 100%;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    text-align: end;
    font-style: italic;
}

.table-item-footer p:nth-child(1) {
    text-align: left;
}

.table-item-footer p:nth-child(2) {
    text-align: right;
}


.table-footer {
    border-top: rgba(0, 0, 0, .20) 1px solid;
    padding-top: 1rem;
}

.table-footer p {
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: end;
    font-style: italic;
}

.tasks-add {
    z-index: 10;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: var(--success-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: 0.3s ease;
    opacity: .7;
    cursor: pointer;
}

.tasks-add:hover {
    opacity: 1;
}

.tasks-add i {
    color: white;
}

.users-edit,
.tasks-edit {
    z-index: 10;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: 0.3s ease;
    opacity: .7;
    cursor: pointer;
}

.users-edit:hover,
.tasks-edit:hover {
    opacity: 1;
}

.users-edit i,
.tasks-edit i {
    color: white;
}

.users-informations,
.tasks-informations {
    border-top: rgba(0, 0, 0, .25) 1px solid;
    border-bottom: rgba(0, 0, 0, .25) 1px solid;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0 !important;
}

.users-informations h3,
.tasks-informations h3 {
    font-size: .9rem;
    font-weight: bold;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

.users-informations h4,
.tasks-informations h4 {
    font-size: .8rem;
    font-weight: normal;
    width: 100%;
}

.users-informations h5 {
    margin-top: .8rem;
    font-size: .8rem;
    font-weight: normal;
    width: 100%;
}

.users-informations h5 span {
    font-weight: bold;
}

.tasks-informations pre {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: normal;
    width: 100%;
    overflow: auto;
}

/*===== Dash Style =====*/
.dash-buttons {
    margin-top: 2rem;
}
